body {
  background-color: #251129;
  font-family: Helvetica;
  font-weight: 400;
  color: #F3B466;
  font-size: 18pt;
  width: 300%; }

.name-container {
  float: left;
  margin-right: 80px;
  margin-bottom: 48px; }
  .name-container:hover {
    cursor: pointer; }

.detail {
  border-radius: 50%;
  border: 1px solid #3B1B3D;
  text-align: center;
  opacity: 0.97;
  display: none;
  position: absolute;
  margin-top: -240px;
  margin-right: -190px;
  z-index: 101;
  background-color: #4DA69B;
  color: #F06764;
  padding: 10px; }
  .detail p {
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    max-width: 75%;
    display: block; }
    .detail p:hover {
      cursor: pointer; }

.bandname {
  display: inline; }
