body {
  background-color: #1E90FF;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #ccc;
  font-size: 18pt;
  width: 300%; }

.name-container {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 8px; }
  .name-container:hover {
    cursor: pointer; }

.sender {
  display: none;
  background-color: #5B59BA;
  color: #CCCCFF;
  padding: 10px; }
  .sender p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: block; }
    .sender p:hover {
      cursor: pointer; }

.bandname {
  display: inline; }
